
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 70vh;
    background-image: url("Assets/bg.jpg");
    position: relative; /*parent is in charge*/
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
     position: absolute;  /*child which moves freely inside the parent only */
    
    top: 0;
}
nav{
    max-width: 80vw;
    display: flex;
    margin: auto;
    
    justify-content: space-between;
    align-items: center;
    height: 68px;
    padding-top: 1.5rem;
}
.main nav img{
    width:150px;
    position: relative;
    z-index: 1;

}
nav button{
    position: relative;
    z-index: 1;
    padding: 0.4rem 0.8rem;
    border-radius:5px;
    background: rgb(247, 46, 46);
    color: white;
    font-weight: 600;
    
}
.button{
    display: flex;
    gap: 0.8rem;
}
.hero{
    height: 97%;
    width:700px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */

    position: relative;
    z-index: 1;

    color: white;
    text-align: center;
    font-family: 'Martel Sans';
}
.hero span:first-child {
    font-size: 48px;
    font-weight: 900;
}
.hero span:nth-child(2){
    font-size: 22px;
    font-weight: 500;
}
.hero span:nth-child(3){
    font-size: 16px;
    font-weight: 400;
}
.container{
    display: flex;
    gap: 0.5rem;
}


.container-input{
    /* color: brown; */
    background-color: rgba(24, 24, 24, 0.578);
    padding: 5px;
    font: 800;
    color: white;

}
.container-button{
    background-color: red;
    color: white;
    padding: 5px;
    font-weight: 600;

}
button{
    border: none;
    outline: none;
    border-radius: 5px;
}
button:focus {
    box-shadow: 0 0 5px rgba(185, 183, 183, 0.8); /* Optional: Adds a subtle focus effect */
}
body{
    background-color: black;
}